[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel.git
[submodule "modules/selector"]
	path = modules/selector
	url = https://github.com/storypioneers/kirby-selector.git
[submodule "modules/default-plugins"]
	path = modules/default-plugins
	url = https://github.com/getkirby/plugins.git
[submodule "modules/visual-markdown"]
	path = modules/visual-markdown
	url = https://github.com/jonasdoebertin/kirby-visual-markdown.git
[submodule "modules/relative-date"]
	path = modules/relative-date
	url = https://github.com/distantnative/relative-date.git
[submodule "modules/oembed"]
	path = modules/oembed
	url = https://github.com/distantnative/oembed.git
