/*
  Custom Styling for Take One
  Copyright Nathan Chapman
  nathan@nchp.mn
*/

/* --- HOME SECTIONS --- */

#about { display:table; height:auto; width:100%; position:relative; }


/* --- UTILITY CLASSES --- */
.img-container { background-size:cover; background-position:top center; height:100%; overflow:hidden; padding:0; top:0; }

.img-responsive {
    max-width: 100%;
    height: auto;
}