/*
  Custom Styling for Take One
  Copyright Nathan Chapman
  nathan@nchp.mn
*/

/* --- TYPOGRAPHY STYLES --- */
/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family:inherit;
}

/* --- LAYOUT STYLES --- */
.pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
.l-box { padding:1em; }
.l-box-lg { padding:2em; }

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}



/* --- MEDIA STYLES --- */
.img-bg-parent { display: table;
    height: auto;
    width: 100%;
    position: relative;
    background-color: #f9f9f9; }
.img-bg {     background-size: cover;
    background-position: top center;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0; }
